<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cubolabs.bibliaofflinearc"
    android:versionCode="152"
    android:versionName="1.5.2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cubolabs.bibliaofflinearc.MainActivity"
            android:label="@string/app_name"
            android:configChanges="screenSize|orientation"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cubolabs.bibliaofflinearc.ui.EditPreferences"
            android:label="@string/preferences"
            android:configChanges="screenSize|orientation"  >
            <intent-filter>
                <action android:name=".PREFERENCES" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cubolabs.bibliaofflinearc.ui.EditPreferencesHC"
            android:label="@string/preferences"
            android:configChanges="screenSize|orientation"  >
            <intent-filter>
                <action android:name=".PREFERENCES" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
